body {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

button {
    font-family: 'Courier New';
    background-color: #aee4a3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.smiski-image {
    width: 100px;
    height: 100px;
    position: center;
}